<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CopilotToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iOSCopilot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>tvOSCopilot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4928CEFE210B5F57009E65B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49381EAB20F4489000F7982D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>493E653920FE10BD0054797D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>496BCFAF2027A157001C6B48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49FEF870210C09F30006F0F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
